include/
*.o
*.bin
*.elf
*.bin
*.32x
symbol.txt
**/out/
examples/marsdev/md-sonic/s1disasm/
examples/sgdk-samples/basics/image/res/gfx.h
examples/sgdk-samples/benchmark/res/gfx.h
examples/sgdk-samples/benchmark/res/spr_res.h
examples/sgdk-samples/demo/bad-apple/res/movie_res.h
examples/sgdk-samples/demo/bad-apple/res/sound_res.h
examples/sgdk-samples/demo/starfield-donut/res/gfx.h
examples/sgdk-samples/fx/h-int/scaling/res/resources.h
examples/sgdk-samples/fx/h-int/wobble/res/resources.h
examples/sgdk-samples/fx/scroll/linescroll/res/resources.h
examples/sgdk-samples/game/platformer/res/resources.h
examples/sgdk-samples/game/sonic/res/res_gfx.h
examples/sgdk-samples/game/sonic/res/res_sound.h
examples/sgdk-samples/game/sonic/res/res_sprite.h
examples/sgdk-samples/snd/sound-test/res/resources.h
examples/sgdk-samples/snd/xgm-player/res/gfx.h
examples/sgdk-samples/snd/xgm-player/res/music.h
examples/sgdk-samples/sys/console/res/resources.h
